<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Restaurent"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VisavaActivity"/>
        <activity android:name=".BookTableActivity"/>
        <activity android:name=".ExploreMenuActivity"/>
        <activity android:name=".ContantActivity"/>
        <activity android:name=".BookingConfirmationActiviy"/>
        <activity android:name=".BookMenuActiviy"/>
        <activity android:name=".PaymentActivity"/>
        <activity android:name=".FinalPaymentActivity"/>
        <activity android:name=".SwaadActivity"/>
        <activity android:name=".amantranActivity"/>
        <activity android:name=".AdminLoginActivity"/>
        <activity android:name=".Adminhotelpage"/>
        <activity android:name=".swaadBookingConfirmationActiviy" />
        <activity android:name=".swaadBookMenuActiviy"/>
        <activity android:name=".swaadBookTableActivity"/>
        <activity android:name=".swaadPaymentActivity"/>
        <activity android:name=".swaadFinalPaymentActivity"/>
        <activity android:name=".amantranBookingConfirmationActiviy"/>
        <activity android:name=".amantranBookMenuActiviy"/>
        <activity android:name=".amantranBookTableActivity"/>
        <activity android:name=".amantranFinalPaymentActivity"/>
        <activity android:name=".amantranPaymentActivity"/>
        <activity android:name=".Adminamantraninfo"/>
        <activity android:name=".Adminswaadinfo"/>
        <activity android:name=".AdminVisavainfo"/>
        <activity android:name=".Adminamantrancustomerinfo"/>
        <activity android:name=".Adminvisavacustomerinfo"/>
        <activity android:name=".Adminswaadcustomerinfo"/>
        <activity android:name=".Adminvisavaorderinfo"/>
        <activity android:name=".Adminswaadorderinfo"/>
        <activity android:name=".Adminamantranorderinfo"/>



    </application>

</manifest>